[submodule "fast_matrix_market"]
	path = fast_matrix_market
	url = https://github.com/alugowski/fast_matrix_market
[submodule "thread-pool"]
	path = thread-pool
	url = https://github.com/bshoshany/thread-pool
[submodule "cuBoolGraph"]
	path = cuBoolGraph
	url = https://github.com/SparseLinearAlgebra/cuBoolGraph.git
